body {
  min-height: 100%;
  background-color: #dce4e7;
  font-family: "Lato", sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

/* ======= UTILS ======= */

.hidden {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.italic {
  font-style: italic;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-flow: wrap;
}

.justify-start {
  justify-content: start;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

/* ======= TITLE ======= */

#title-img {
  transition: 0.3s ease;
}

#title-wrapper:hover #title-img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#title {
  font-family: "Pacifico", cursive;
  color: orange;
  margin-bottom: 50px;
  text-decoration: underline;
  margin-left: 20px;
}

/* ======= NAVBAR ======= */

nav .nav-item {
  padding: 3px 10px 8px 10px;
  cursor: pointer;
}

nav .nav-item span {
  color: gray;
  font-weight: normal;
}

nav .nav-item.active {
  border-bottom: 3px solid orange;
}

nav .nav-item.active span {
  color: black;
  font-weight: bolder;
}

/* ======= ALERTS ======= */

#alerts-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

#alerts-wrapper .alert {
  justify-content: flex-end;
  padding: 10px 20px;
  border-radius: 3px;
  color: white;
  margin-bottom: 8px;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

#alerts-wrapper .alert:hover {
  box-shadow: 3px 3px 10px lightgray;
  transform: skew(-3deg, 2deg);
  cursor: pointer;
}

#alerts-wrapper .alert.alert-info {
  background-color: rgba(37, 110, 173, 0.75);
}

#alerts-wrapper .alert.alert-error {
  background-color: rgba(201, 55, 49, 0.75);
}

/* ======= HEADER ======= */

header {
  padding: 10px 3px;
  margin-bottom: 20px;
  position: relative;
}

#searchbar-wrapper {
  padding: 5px 3px;
  border-radius: 2px;
  background-color: white;
  width: 33.3%;
  max-width: 33.3%;
}

#searchbar-wrapper svg {
  stroke: darkslategray;
  margin: 0 6px;
}

@keyframes rotation {
  0% {
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#searchbar-wrapper #searchbar-loader {
  animation-name: rotation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

#searchbar-wrapper #searchbar-input {
  font-family: "Lato", sans-serif;
  border: none;
  padding: 5px 3px;
  font-size: 15px;
}

#searchbar-wrapper #searchbar-input:focus {
  outline: none;
}

/* ======= NO-GIFS-WRAPPER ======= */

#no-gifs-wrapper {
  color: darkgray;
  padding: 10vh 10px;
}

/* ======= GIFS-WRAPPER ======= */

#gifs-wrapper {
  padding: 10px 0;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  background-color: white;
}

#gifs-count-wrapper {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 5px;
  color: gray;
}

#gifs-wrapper > .gif {
  position: relative;
  margin: 3px 3px;
  overflow: hidden;
}

#gifs-wrapper > .gif > img {
  border: 1px solid black;
  border-radius: 3px;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.gif-buttons-wrapper {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: -webkit-fill-available;
  width: fill-available;

  background-color: rgba(0, 0, 0, 0.6);
  padding: 3px 8px;
  border-radius: 0 0 3px 3px;
  transition: bottom 0.4s ease;
}

#gifs-wrapper > .gif:hover .gif-buttons-wrapper {
  bottom: 2px;
}

.gif-buttons-wrapper svg {
  cursor: pointer;
  transition: transform 0.1s;
}

.gif-buttons-wrapper svg:hover {
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.gif-buttons-wrapper .gif-share-button {
  color: white;
  width: 16px;
}

.gif-buttons-wrapper .gif-fav-button {
  color: red;
  width: 16px;
}

.gif-buttons-wrapper .gif-fav-button.fav {
  fill: red;
}
