body {
  min-height: 100%;
  background-color: #dce4e7;
  font-family: "Lato", sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

/* ======= UTILS ======= */

.hidden {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.italic {
  font-style: italic;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-flow: wrap;
}

.justify-start {
  justify-content: start;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

/* ======= TITLE ======= */

#title-img {
  transition: 0.3s ease;
}

#title-wrapper:hover #title-img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#title {
  font-family: "Pacifico", cursive;
  color: orange;
  margin-bottom: 50px;
  text-decoration: underline;
  margin-left: 20px;
}

/* ======= NAVBAR ======= */

nav .nav-item {
  padding: 3px 10px 8px 10px;
  cursor: pointer;
}

nav .nav-item span {
  color: gray;
  font-weight: normal;
}

nav .nav-item.active {
  border-bottom: 3px solid orange;
}

nav .nav-item.active span {
  color: black;
  font-weight: bolder;
}

/* ======= HEADER ======= */

header {
  padding: 10px 3px;
  margin-bottom: 20px;
}

#searchbar-wrapper {
  padding: 5px 3px;
  border-radius: 2px;
  background-color: white;
  width: 33.3%;
  max-width: 33.3%;
}

#searchbar-wrapper svg {
  stroke: darkslategray;
  margin: 0 6px;
}

@keyframes rotation {
  0% {
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#searchbar-wrapper #searchbar-loader {
  animation-name: rotation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

#searchbar-wrapper #searchbar-input {
  font-family: "Lato", sans-serif;
  border: none;
  padding: 5px 3px;
  font-size: 15px;
}

#searchbar-wrapper #searchbar-input:focus {
  outline: none;
}

/* ======= NO-GIFS-WRAPPER ======= */

#no-gifs-wrapper {
  color: darkgray;
  padding: 10vh 10px;
}

/* ======= GIFS-WRAPPER ======= */

#gifs-wrapper {
  padding: 10px 0;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  background-color: white;
}

#gifs-count-wrapper {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 5px;
  color: gray;
}

#gifs-wrapper > img {
  border: 1px solid black;
  border-radius: 3px;
  margin: 3px 3px;
}
