html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html,
#root {
  height: 100%;
}

#header-wrapper {
  background-image: linear-gradient(
    to right bottom,
    #051937,
    #482659,
    #912a61,
    #cc3e4c,
    #e8721e
  );
}

#title {
  font-family: "Lobster", cursive;
  transform: rotateZ(-4deg);
  text-decoration: underline;
}

@keyframes rotation {
  0% {
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader-icon {
  animation-name: rotation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

button {
  transition: transform 0.1s ease;
}

button:active {
  transform: scale(1.1, 1.1);
}

.gif {
  transition: transform 0.2s ease;
  flex: 1 1 auto;
}

.gif:hover {
  transform: scale(1.1, 1.1);
}

.gif-cloak {
  opacity: 0;
  transition: opacity 0.2s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.gif-cloak svg {
  cursor: pointer;
  margin: 0 10px;
  transform: transform 0.2s ease;
}

.gif-cloak svg:active {
  transform: scale(1.1, 1.1);
}

.gif:not(.favorite) .gif-cloak svg[stroke="#E44854"]:hover {
  fill: #e44854;
}

.gif.favorite .gif-cloak svg[stroke="#E44854"] {
  fill: #e44854;
}

.gif-cloak.favorite svg[stroke="#E44854"]:hover {
  fill: transparent;
}

.gif-cloak:hover {
  opacity: 1;
}
